In [1]:
import importlib
import pandas as pd
import utils

In [2]:
importlib.reload(utils)

In [3]:
df = utils.get_product_propensity_data()

df

,Customer_ID,Age,Gender,Credit_Limit,Transaction_Source_M_Count,Transaction_Source_A_Count,Transaction_Source_D_Count,Transaction_Source_V_Count,Transaction_Source_P_Count,Transaction_Source_U_Count,Avg_Transaction_Value,Customer_Segment,Purchase
0,1,64,M,68670,0,0,0,1,1,1,448.544144,0,0
1,2,32,M,86984,1,2,0,0,0,1,309.707898,0,1
2,3,60,F,147812,0,4,0,1,1,1,307.403777,1,1
3,4,51,F,25789,0,3,1,0,1,1,315.836525,0,1
4,5,41,F,30436,1,2,0,0,0,1,402.378830,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,32,F,123213,0,3,0,1,0,1,173.492549,1,0
996,997,35,F,73376,0,3,0,0,0,0,118.416253,1,1
997,998,37,F,59882,1,0,0,0,0,0,360.165452,2,0
998,999,56,F,94036,0,0,0,0,1,1,154.246486,2,1
999,1000,66,F,80213,0,3,0,1,1,0,96.260659,0,0

In [4]:
df.to_csv("output_data/product-propensity.csv")