In [3]:
import importlib
import pandas as pd
import utils

In [46]:
importlib.reload(utils)

In [47]:
df = utils.get_product_propensity_data()

df

,Customer_ID,Age,Gender,Credit_Limit,Transaction_Source,Transaction_Type,Avg_Transaction_Value,Customer_Segment,Purchase
0,1,52,M,43543,M,2,472.394263,2,1
1,2,55,F,104464,P,4,373.486860,1,1
2,3,47,M,73627,M,1,200.446821,0,0
3,4,19,M,91151,U,3,298.626148,0,1
4,5,54,F,120060,D,4,275.591583,0,0
...,...,...,...,...,...,...,...,...,...
995,996,50,M,147794,V,2,301.579823,1,1
996,997,28,F,112856,U,2,416.643260,1,0
997,998,53,F,48702,M,3,369.932693,2,1
998,999,44,F,118374,A,1,148.434621,0,0
999,1000,44,F,66356,P,4,192.323032,2,1