In [63]:
import importlib
import pandas as pd
import utils

In [64]:
importlib.reload(utils)

In [65]:
df = utils.get_churn_prediction_data()

df

,Customer_ID,Age,Gender,CreditScore,Tenure,Balance,NumOfProducts,HasCrCard,EstimatedSalary,Churn
0,1,41,M,740,3,78360.334366,2,0,63903.988688,1
1,2,63,M,434,4,139638.983096,5,0,78733.444171,0
2,3,23,F,395,3,164611.008691,6,1,27042.168557,1
3,4,46,F,445,3,47018.340912,1,0,64461.171738,1
4,5,42,F,453,5,135417.025106,3,0,67981.489792,1
...,...,...,...,...,...,...,...,...,...,...
995,996,39,F,445,5,107013.923323,3,1,79625.273318,0
996,997,39,M,486,9,151790.034398,2,1,82622.326262,1
997,998,49,F,590,7,188620.599665,6,0,23201.704969,1
998,999,42,F,478,0,140622.422201,1,0,107224.918045,0
999,1000,35,M,468,4,115334.459004,2,0,142226.078102,0

In [66]:
df.iloc[:,1:].to_csv("output_data/churn-prediction.csv", index=False)

In [67]:
df["Churn"].sum()

np.int64(475)

In [68]:
df["Churn"]

0      1
1      0
2      1
3      1
4      1
      ..
995    0
996    1
997    1
998    0
999    0
Name: Churn, Length: 1000, dtype: int64