In [25]:
import importlib
import pandas as pd
import utils

In [26]:
importlib.reload(utils)

In [27]:
df = utils.get_churn_prediction_data()

df

,Customer_ID,Age,Gender,CreditScore,Tenure,Balance,NumOfProducts,HasCrCard,EstimatedSalary,Churn
0,1,56,F,433,7,141950.176454,1,1,26654.601982,1
1,2,60,F,362,1,16782.713179,2,0,22949.409594,0
2,3,29,M,568,3,169334.406614,6,1,105226.692477,0
3,4,56,F,562,6,27305.000506,6,0,53660.090210,1
4,5,65,M,567,7,180531.490622,3,1,111422.191030,1
...,...,...,...,...,...,...,...,...,...,...
995,996,58,F,660,9,194855.897459,4,1,90387.128487,1
996,997,33,F,767,9,116995.105482,6,0,57492.587663,0
997,998,53,F,622,2,22350.518502,5,1,133114.974630,0
998,999,40,F,599,0,62854.089052,1,0,88906.061212,0
999,1000,63,M,603,1,144128.394942,5,0,106676.491019,0

In [28]:
df.to_csv("output_data/churn-prediction.csv")

In [29]:
df["Churn"].sum()

np.int64(302)