In [1]:
import importlib
import pandas as pd
import utils

In [2]:
importlib.reload(utils)

In [3]:
df = utils.get_churn_prediction_data()

df

,Customer_ID,Age,Gender,CreditScore,Tenure,Balance,NumOfProducts,HasCrCard,EstimatedSalary,Churn
0,1,52,F,531,8,62134.163446,5,1,88756.684984,1
1,2,55,M,644,9,17925.150632,6,1,106327.534688,0
2,3,47,F,400,1,85553.044049,2,1,137419.725214,0
3,4,19,F,512,7,138441.597429,4,0,88276.246240,0
4,5,54,M,330,5,90300.966334,6,0,118284.398374,1
...,...,...,...,...,...,...,...,...,...,...
995,996,50,M,448,6,5351.933304,3,0,30447.817428,1
996,997,28,M,848,4,189521.155117,6,1,67337.651707,1
997,998,53,F,734,5,25197.526474,3,0,102913.476700,1
998,999,44,F,582,7,65463.573579,3,1,25680.517834,0
999,1000,44,F,577,7,33279.349959,6,1,26436.274723,0

In [4]:
df.iloc[:,1:].to_csv("output_data/churn-prediction.csv", index=False)

In [5]:
df["Churn"].sum()

np.int64(454)

In [6]:
df["Churn"]

0      1
1      0
2      0
3      0
4      1
      ..
995    1
996    1
997    1
998    0
999    0
Name: Churn, Length: 1000, dtype: int64